<html>
	<header>
		<script>
		var gebruikerid=2;
		var gebruikernaam="Jasper";
		var huidiggesprekid=5;
		var huidiggespreknaam="test";
		var persoonlijkgesprek = false;
		var ingelogd = false;
		var gebruikerlijst = "";
		var gespreklijst = "";
		var gesprek = "";
		var myVar = setInterval(getGesprek, 10000);

		function myTimer() {
			var d = new Date();
			document.getElementById("demo").innerHTML = d.toLocaleTimeString();
		} 
		
		
				
			function loadpagina(){
				chatten();
			}
			
			function chatten() {
				updateGebruikers();
				updateChat();
			}
			
			function updateGebruikers(){
			
				var gebruikersElement = document.getElementById("gebruikers")
				gebruikersElement.innerHTML = "";
				
				
				if (gebruikerlijst.length==0) {
					getData("api/Gebruiker/other")
				} else {
					var table = oneRowTableJSON(gebruikerlijst,0,"setPersoonlijkGesprek","Gebruikers")
					gebruikersElement.appendChild(table);
				}
			}
			
			function updateChat(){
			
				var chatElement = document.getElementById("chatwindow")
				chatElement.innerHTML = "";
				if (gesprek.length==0) {
						getGesprek("api/Gesprek/berichten");
				} else if (gesprek.length>0){
				
					if (gesprek.length>10) {
						console.log(gesprek);
						var jsondata2 = JSON.parse(this.gesprek);
						console.log(jsondata2);

						berichten = jsondata2;

						berichten.sort(function(a, b){return a.id-b.id}); 
						
						
						var table2 = document.createElement("div");
						table2.setAttribute("style","overflow-x: hidden; overflow-y: scroll;height: 260px;");
						table2.scrollTop = table2.scrollHeight;
						table3 = document.createElement("div");
						table3.setAttribute("style","border-style: none;")
						for (var i = 0; i < berichten.length; i++) {
							var line = document.createElement("tr");
								line.innerHTML = berichten[i].afzender +": " + berichten[i].inhoud;

								
							console.log(berichten[i].datum)
							if (berichten[i].datum!= null) {
							berdate = berichten[i].datum;
							var berdatum = new Date(parseInt(berdate.substring(0, 4)), parseInt(berdate.substring(5, 7))-1, parseInt(berdate.substring(8, 10)), parseInt(berdate.substring(11, 13)),parseInt(berdate.substring(14, 16)),parseInt(berdate.substring(17, 19)), 0); 
						//	var blubdate = Date.now();
			
						//	console.log(berdatum.getTime());
						//		console.log(blubdate.getTime());
							
							
							table2.appendChild(line)
							}
						}
							chatElement.appendChild(table2);
					}
					
					var inst = setInterval(updateHuidigGesprek(), 1000);
				
					var verstuur = document.createElement("div"); 
					var hetbericht = document.createElement("input"); 
					var verzendknop = document.createElement("button"); 
					
					
					hetbericht.addEventListener("keyup", function(event) {if (event.key === "Enter") {verzendBericht()}}); // Do work
					hetbericht.setAttribute("id","hetbericht")
					hetbericht.setAttribute("style","width: 350px;margin: 20px;")
					verzendknop.innerHTML = "verstuur";
					verzendknop.setAttribute("onclick","verzendBericht()")
					verstuur.appendChild(hetbericht)
					verstuur.appendChild(verzendknop)
					verstuur.setAttribute("style","position: absolute; bottom: 0;  left: 0;margin: auto;")
					
				
					chatElement.appendChild(verstuur)
				}
			}
			
			
			function updateHuidigGesprek(){
				console.log("hoi")
			}
			
			
			function updateScroll(){
				var element = document.getElementById("yourDivID");
				element.scrollTop = element.scrollHeight;
			}
			
			function setGroepsGesprek(nummer,naam){
				var data = '{"naam":"dummy", "wachtwoord":"dummy", "rol":"dummy","huidigGesprek":' + nummer +',"persoonlijkGesprek":' + false +'}';
				console.log(data)
				postData("api/Gebruiker/huidiggesprek",data);
			}
			
			function setPersoonlijkGesprek(nummer,naam){
				var data = '{"naam":"dummy", "wachtwoord":"dummy", "rol":"dummy","huidigGesprek":' + nummer +',"persoonlijkGesprek":' + true +'}';
				console.log(data)
				postData("api/Gebruiker/huidiggesprek",data);
			}
			
			function verzendBericht(){
				var inhoud = document.getElementById("hetbericht").value;
				var berichtje = '{"inhoud":"'+inhoud+'"}'; 
				postData("api/Bericht", berichtje);
			}
			
			function nieuwGesprek(){
				var inhoud = document.getElementById("hetbericht").value;
				// maak er een json string versie van;
				var berichtje = '{"inhoud":"'+inhoud+'","verzenderID":"'+gebruikerid+'","ontvangerID":"'+huidiggesprekid+'"}'; 
				if (!this.persoonlijkgesprek) {
				postData("api/Bericht", berichtje);
				} else {
					postData("api/Bericht/" + this.gebruikerid , berichtje);
				}
			}
			
			function getGesprek(){
				var api =  "api/Gesprek/berichten"

				// maak een nieuw request volgens het http protecol
				var xhttp = new XMLHttpRequest();
				console.log(api);
				// als staat van het XMLHTTPRequest object verandert doe dan het volgende
  				xhttp.onreadystatechange = function() {
					if (this.readyState == 4 && this.status == 200) {
						if (gesprek!=this.responseText) {
							gesprek = this.responseText;
							console.log("nu hier");
							updateChat();
						}
					}
  				};
				// geef aan dt je data wil gaan pakken uit de database
				// https://developer.mozilla.org/en-US/docs/Web/API/XMLHttpRequest/open
				xhttp.open("GET", "http://localhost:8082/"+api);
				// send request om data te gaan getten body wordt genegeerd
				// https://developer.mozilla.org/en-US/docs/Web/API/XMLHttpRequest/send
				xhttp.send();
			}
			
			function getData(api){
			
				// maak een nieuw request volgens het http protecol
				var xhttp = new XMLHttpRequest();
				
				// als staat van het XMLHTTPRequest object verandert doe dan het volgende
  				xhttp.onreadystatechange = function() {
					if (this.readyState == 4) {
					gebruikerlijst = this.responseText;
					console.log(this.responseText);
					loadpagina();
					}
  				};
				// geef aan dt je data wil gaan pakken uit de database
				// https://developer.mozilla.org/en-US/docs/Web/API/XMLHttpRequest/open
				xhttp.open("GET", "http://localhost:8082/"+api);
				// send request om data te gaan getten body wordt genegeerd
				// https://developer.mozilla.org/en-US/docs/Web/API/XMLHttpRequest/send
				xhttp.send();
			}
			

			
			function getGesprekken(api){
			
				// maak een nieuw request volgens het http protecol
				var xhttp = new XMLHttpRequest();
				console.log(api)
				// als staat van het XMLHTTPRequest object verandert doe dan het volgende
  				xhttp.onreadystatechange = function() {
					if (this.readyState == 4) {
					gespreklijst = this.responseText;
					getGesprek();
					}
  				};
				// geef aan dt je data wil gaan pakken uit de database
				// https://developer.mozilla.org/en-US/docs/Web/API/XMLHttpRequest/open
				xhttp.open("GET", "http://localhost:8082/"+api);
				// send request om data te gaan getten body wordt genegeerd
				// https://developer.mozilla.org/en-US/docs/Web/API/XMLHttpRequest/send
				xhttp.send();
			}
		
			
			function oneRowTableJSON(input,kollom,functie,header){
				var jsondata= JSON.parse(input);
				
					var col = [];
						// verkijg de keys van de data 
					for (var i = 0; i < jsondata.length; i++) {
						// loop over de keys van ieder element
						for (var key in jsondata[i]) {
							// als het element mist in de variable col dan voeg je het toe
							if (col.indexOf(key) === -1) {
								col.push(key);
							}
						}
					}
					// maak een tabel element aan
					var table = document.createElement("table");

					// voeg een rij toe (-1 voor achteraan in de tabel)
					var tr = table.insertRow(-1);      
					
					
					var th = document.createElement("th");     // th is table header die heeft standaard een apparte stijl
					th.innerHTML = header;
					tr.appendChild(th);
					
					
					// json data in de tabel gooien
					for (var i = 0; i < jsondata.length; i++) { // loop over de entities
						// voeg een rij toe (-1 voor achteraan in de tabel)
						tr = table.insertRow(-1);
						var tabCell = tr.insertCell(-1); // alternatieve methode om cell toe tevoegen document.createElement("td") kan ook
						var linediv = document.createElement("div");
						linediv.setAttribute("class","tablediv")
								
						linediv.innerHTML = jsondata[i][col[kollom]]; // lekker over de data loopen
						linediv.setAttribute("onClick",functie + "(" + jsondata[i].id + ",\"" + jsondata[i].naam  +"\")" )
						tabCell.appendChild(linediv)
					}
					return table;
			}
		
			
			

			function postData(api, data){
				
				// maak een nieuw request volgens het http protecol
				var xhttp = new XMLHttpRequest();
				var id = this.huidiggesprekid;
				// An EventHandler that is called whenever the readyState attribute changes.
				// als staat van het XMLHTTPRequest object verandert doe dan het volgende
  				xhttp.onreadystatechange = function() {
					// check of de state ready is en de request moet accepted (202) ijn.
					console.log("" +this.readyState + this.status)
    				if (this.readyState == 4 && (this.status == 202|| this.status==200)) {
						getGesprek();
    				}
  				};
				
				// Hier open je de server 
				// https://developer.mozilla.org/en-US/docs/Web/API/XMLHttpRequest/open
				xhttp.open("POST", "http://localhost:8082/"+api, true);
				// https://developer.mozilla.org/en-US/docs/Web/API/XMLHttpRequest/setRequestHeader
				// Geef aan dat je dat content van het type json gaat sturen
				xhttp.setRequestHeader("Content-type", "application/json");
				// verstuur de json string naar de server
				xhttp.send(data);
			}
			
			

			
			function deleteEntry(api){
				// maak een nieuw request volgens het http protecol
				var xhttp = new XMLHttpRequest();
				
				// als staat van het XMLHTTPRequest object verandert doe dan het volgende
  				xhttp.onreadystatechange = function() {
					if (this.readyState == 4) {
      				document.getElementById("demo").innerHTML = this.responseText;
				
					getData('api/sorted/');
					}
  				};				

				// Hier open je de server 
				// https://developer.mozilla.org/en-US/docs/Web/API/XMLHttpRequest/open
				xhttp.open("DELETE", "http://localhost:8082/"+api, true);
				// https://developer.mozilla.org/en-US/docs/Web/API/XMLHttpRequest/setRequestHeader
				// Geef aan dat je dat content van het type json gaat sturen
				//xhttp.setRequestHeader("Content-type", "application/json");
				// verstuur de json string naar de server
				xhttp.send();				
				
			}
		</script>
		<style>
		
		/* width */
		::-webkit-scrollbar {
		  width: 20px;
		}

		/* Track */
		::-webkit-scrollbar-track {
		  box-shadow: inset 0 0 5px grey; 
		  border-radius: 10px;
		}
		 
		/* Handle */
		::-webkit-scrollbar-thumb {
		  background: #a349fe; 
		  border-radius: 10px;
		}

		/* Handle on hover */
		::-webkit-scrollbar-thumb:hover {
		  background: #b30000; 
		}
		
		header, .full-width {
			width: 100%;
			paddin-top: 20px;
			background: #a349fe;
			height: 100px;

			
		}
		
		footer, .full-width {
			background: #a349fe;
			position: fixed;
			bottom: 0;
			width: 100%;
			height: 100px;
			

		}
		
		div#headbox{
			text-align:justify; 
			display: flex; 
			justify-content:space-evenly;  
			justify-content:stretch;
			align-items: center;
			margin: 5px; 
			height: 400px;
		}
		
		div#gebruikers {
			margin: 30px;
			margin-left: 80px;
			width: 150px;
			background: #a349fe;
			border-radius: 25px;
			padding: 20px; 
			align-self:stretch;
			
			}
			
		div#gebruikers .table{
		font-weight: bold;
		}

		.tablediv{
			border-radius: 25px;
			color:#a349fe;
			background: white;
			text-align: center;
			width: 150;
		
		}
		
		div#chatwindow {
			border-radius: 25px;
			border: 4px solid #a349fe;
			margin: 30px;
			width: 150px;
			border-radius: 25px;
			padding: 20px; 
			max-width: 600px;
			flex-grow: 3;
			position: relative;
			align-self:stretch;
			
		}
		
		
		body {
		
			margin: 0;
		}
		
		h2 {
		
			color: white;
		    margin-block-start: 0;
			padding: 5;
			padding-left: 100;
			font-size: 30;
		}
		
		table, th, td {
			color: white;
			font-size: 20;
			align-self: center;
			align-text: center;
		}
		
		
		text-align:justify; background: pink;display: flex; justify-content:space-evenly;  min-width: 80px;max-width: 800px;height: 400px;max-height: 400px;border: 1px solid black;margin: 5px; 
		
		</style>
		
		  <div class="wrap">
			<h2>Q-chat</h2>
		  </div>
	</header>
	<body id="thebody" onload="loadpagina()" onresize="loadpagina()">
	<div id="headbox">
		<div id ="gebruikers"><table><tr><th>Gebruikers</th></tr><tr><td><div class="tablediv">naam</div></td></tr></table></div>

		<div id ="chatwindow">Text hier!</div>

		
		
	</div>
	
	</body>
	
	<footer class="wrap">
  <p>Jaspers geweldige Chat applicatie</p>
</footer>
</html>
	